/*-- scss:defaults --*/

$blue:    #ffffff !default;
$indigo:  #6610f2 !default;
$purple:  #686dc3 !default;
$pink:    #e83283 !default;
$red:     #fc346f !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #41d7a7 !default;
$teal:    #528fb3 !default;
$cyan:    #39cbfb !default;


$poster_top:    #4c6eeb !default;
$poster_middle:     #bc95c6 !default;
$poster_bottom:     #e66271 !default;


$body-bg-image: linear-gradient(90deg, shade-color($poster_top, 10%), shade-color($poster_middle, 10%), shade-color($poster_bottom, 5%)) !default;

